<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theiyer.whatstheplan"
    android:versionCode="1"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.theiyer.whatstheplan.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.theiyer.whatstheplan.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main Activity -->
        <activity
            android:name="com.theiyer.whatstheplan.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- New User Sign up registration -->
        <activity
            android:name="com.theiyer.whatstheplan.NewRegistrationPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.MainActivity" />
        </activity>
        
        <!-- Add health Center -->
        <activity
            android:name="com.theiyer.whatstheplan.JoinHealthCenter"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- New User Sign up -->
        <activity
            android:name="com.theiyer.whatstheplan.NewUserSignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.MainActivity" />
        </activity>
        
        <!-- New User Sign up -->
        <activity
            android:name="com.theiyer.whatstheplan.NewHealthCenterSignUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.MainActivity" />
        </activity>

        <!-- Upload Image page -->
        <activity
            android:name="com.theiyer.whatstheplan.ProfileImageUploadActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        
        <!-- Home page -->
        <activity
            android:name="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
         <!-- Retry page -->
        <activity
            android:name="com.theiyer.whatstheplan.RetryActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <!-- View Members page -->
        <activity
            android:name="com.theiyer.whatstheplan.ViewExistingMembersActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/user_searchable" />
        </activity>
        
        <!-- View Members page -->
        <activity
            android:name="com.theiyer.whatstheplan.AddHealthCenterActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/center_search" />
        </activity>
        
         <!-- View doctors page -->
        <activity
            android:name="com.theiyer.whatstheplan.AddDoctorActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/doctor_search" />
        </activity>
        
         <!-- View Groups page -->
        <activity
            android:name="com.theiyer.whatstheplan.ViewExistingGroupsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/group_searchable" />
        </activity>
        
         <!-- New Plan page -->
        <activity
            android:name="com.theiyer.whatstheplan.NewPlanActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
         <!-- New Plan page -->
        <activity
            android:name="com.theiyer.whatstheplan.AppointmentActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
         <!-- New Plan page -->
        <activity
            android:name="com.theiyer.whatstheplan.ViewMyNewPlansActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity" />
        </activity>
        
        <!-- Create Group page -->
        <activity
            android:name="com.theiyer.whatstheplan.CreateGroupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity" />
        </activity>

        <!-- Join Group page -->
        <activity
            android:name="com.theiyer.whatstheplan.JoinGroupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <!-- Invite page -->
        <activity
            android:name="com.theiyer.whatstheplan.InviteListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/membersearch" />
        </activity>

        <!-- Create Plan page -->
        <activity
            android:name="com.theiyer.whatstheplan.CreatePlanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.ViewMyGroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.ViewMyGroupActivity" />
        </activity>
        
        
        
        <!-- Group Admin page -->
        <activity
            android:name="com.theiyer.whatstheplan.GroupAdminListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.GroupsListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.GroupsListActivity" />
        </activity>
        

        <!-- View Groups page -->
        <activity
            android:name="com.theiyer.whatstheplan.ViewGroupNewPlanHistoryFragmentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity" />
        </activity>
        
         <!-- View group members page -->
        <activity
            android:name="com.theiyer.whatstheplan.ViewGroupMembersActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.ViewGroupNewPlanHistoryFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.ViewGroupNewPlanHistoryFragmentActivity" />
        </activity>
        
        <!-- View plan history page -->
        <activity
            android:name="com.theiyer.whatstheplan.PlanHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.ViewGroupNewPlanHistoryFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.ViewGroupNewPlanHistoryFragmentActivity" />
        </activity>
        
        <!-- Expense Report page -->
        <activity
            android:name="com.theiyer.whatstheplan.ExpenseReportActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.ViewGroupNewPlanHistoryFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.ViewGroupNewPlanHistoryFragmentActivity" />
        </activity>
        
        <!-- Add Expense page -->
        <activity
            android:name="com.theiyer.whatstheplan.AddExpenseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.ExpenseReportActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.ExpenseReportActivity" />
        </activity>
        
        <!-- View Expense page -->
        <activity
            android:name="com.theiyer.whatstheplan.ViewExpenseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.ExpenseReportActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.ExpenseReportActivity" />
        </activity>
        

        <!-- View Plan page -->
        <activity
            android:name="com.theiyer.whatstheplan.ViewMyPlansActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.HomePlanGroupFragmentActivity" />
        </activity>
        
        <!-- View members page -->
        <activity
            android:name="com.theiyer.whatstheplan.ViewPlanMembersActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.theiyer.whatstheplan.ViewMyPlansActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theiyer.whatstheplan.ViewMyPlansActivity" />
        </activity>

        <!-- menu items -->
        <activity
            android:name="com.theiyer.whatstheplan.AboutUsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.theiyer.whatstheplan.DeactivateAccountActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.theiyer.whatstheplan.ViewProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.theiyer.whatstheplan.EditProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.theiyer.whatstheplan.LeaveGroupActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.theiyer.whatstheplan.EditPlanActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.theiyer.whatstheplan.GroupImageChangeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        <service android:name="com.theiyer.whatstheplan.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.theiyer.whatstheplan" />
            </intent-filter>
        </receiver>
        <service android:name=".GCMIntentService" />
    </application>

</manifest>